body{
   margin: 0;
   padding: 0;
   background: #fff;
   font-family: 'Ubuntu', sans-serif;
}

.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   // height:8 00px;
   border: 2px solid red;
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.wrapper_aboutme{
   display: flex;
   width: 70%;
   height: 480px;
   margin-top: 50px;
   background: white;
   border-radius: 15px 0 15px 0;
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.79);
}
.photo{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   // justify-content: space-between;
   width: 30%;
   height: 100%;
   box-sizing: border-box;
   padding: 5px ;
   & img{
   width: 100%;
   height: 90%;
   object-fit: fill;
   border-radius: 15px 0 15px 0;
}
}
.advanced{
   width: 100%;
   height: 10%;
   margin-top: 5px;
   margin-bottom: 5px;
}
.aboutme{
   width: 60%;
   height: 100%;
   padding: 0 20px 0 20px;
   border-left: 1px solid rgb(219, 213, 213);
   border-right: 1px solid rgb(219, 213, 213);
& h3{
   // text-transform: uppercase;
   font-weight: 700;
   font-size: 24px;
   color: #9566c4;
   letter-spacing: 2px;
   padding-bottom: 70px;
   position: relative;
   &:before {
   background: #9566c4;
   border-radius: 15px 0 30px 15px;
   content: '';
   display: block;
   height: 15px;
   position: absolute;
   top: 50px;
   width: 40px;
  }
} 
}
.links{
   width: 10%;
// border: 2px solid red;
& :hover{
   background: #bb94e2;
   transition: 1s;
}
& :not(:hover) {
   transition: 1s;
}
:last-child:hover{
   border-radius: 0 0 15px 0;
}
}
.links_email, .links_fb, .links_git{
   display: flex;
   justify-content: center;
   width: 100%;
   text-decoration: none;
   color: black;
   font-size: 18px;
   // border: 2px solid #000;
   padding: 60% 0;
   
}
.link_block{
   display: flex;
   align-items: center;
   width: 100%;
   border-top: 1px solid rgb(219, 213, 213);
   height: 33%;
   &:first-child{
   border-top: 0;
   }
   &:last-child{
   height: 33.5%;
   border-radius: 0 0 15px 0;
   }
   
}
.link-img{
   width: 30%;
}
.info{
   display: flex;
   font-size: 18px;
   padding-bottom: 10px;
   // border: 2px solid red;
   & .field-title{
   width: 28%;
   // border: 2px solid red;
   }
   & .field-separator{
      // border: 2px solid red;
      margin-right: 20px;
   }
}
.wrapper_skills{
   display: flex;
   width: 70%;
   height: 490px;
   margin-top: 50px;
   background: white;
   border-radius: 0 15px 0 15px;
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.79);
   // border: 2px solid rgb(52, 202, 32);
}
.skills_block-left{
   box-sizing: border-box;
   width: 40%;
   height: 100%;
   // border: 2px solid red;
   padding: 30px 40px;
   & h3{
   text-transform: uppercase;
   font-weight: 700;
   font-size: 24px;
   color: #9566c4;
   letter-spacing: 2px;
   padding-bottom: 70px;
   position: relative;
   &:before {
   background: #9566c4;
   border-radius: 15px 0 30px 15px;
   content: '';
   display: block;
   height: 15px;
   position: absolute;
   top: 50px;
   width: 40px;
  }
}
}
.skills_block-right{
   box-sizing: border-box;
   // display: flex;
   width: 60%;
   height: 100%;
   // border: 2px solid rgb(98, 0, 255);
}
.progress{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
   // border: 2px solid black;
}
.progress-title{
   margin: 0;
}
.skills_list{
   list-style: none;
   line-height: 3;
   padding: 0;
   font-weight: 500;
}
.skills-separator{
   color: #9566c4;
}

