body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Ubuntu', sans-serif; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  background: #dfdbdb; }

.advanced {
  width: 100%;
  height: 10%;
  margin-top: 5px;
  margin-bottom: 5px; }

.aboutme {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  padding: 10px 40px 30px 40px; }

.aboutme h3 {
  font-weight: 700;
  font-size: 24px;
  color: #7e7b7b;
  letter-spacing: 2px;
  position: relative; }

.aboutme h3::before {
  background: #3d3c3c;
  border-radius: 15px 0 30px 15px;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  top: 40px;
  width: 60px;
  transition: all 0.5s ease; }

.aboutme h3:hover::before {
  background: #4c77ee; }

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  height: auto; }

.link_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  height: 50px; }

.link_block:hover::after {
  content: attr(data-description);
  margin-top: 5px;
  color: #4c77ee;
  font-weight: 500;
  transition: all 1s ease; }

.links_email, .links_fb, .links_git {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 18px; }
  .links_email :hover, .links_fb :hover, .links_git :hover {
    transition: all 1s ease;
    border-radius: 50%;
    border: 1px solid #4c77ee;
    background-color: #4c77ee; }

.link-img {
  border: 1px solid #3d3c3c;
  border-radius: 50%;
  transition: all 1s ease; }

.img-bottom_link:hover {
  background-color: #e83556; }

.bottom-ancors {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  height: 120px;
  margin-top: 60px; }

.btn-ancor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-right: 15px;
  width: 120px;
  height: 100%;
  border-radius: 50%;
  font-weight: 700;
  color: white; }

.info {
  font-size: 25px;
  padding-bottom: 10px;
  margin: 0;
  height: auto;
  color: #3d3c3c; }

.info .field-title {
  width: 28%;
  height: 100%;
  font-weight: 700;
  font-size: 40px;
  color: #3d3c3c; }

.container-contact_info {
  margin-top: 60px;
  width: 100%; }

.ancors {
  display: flex;
  margin-top: 10px; }
  .ancors a {
    margin-right: 30px;
    text-decoration: none;
    height: 40px;
    margin-bottom: 30px; }
    .ancors a:last-child {
      margin-right: 0; }
    .ancors a :hover {
      color: #4c77ee; }

.wrapper-info_ancors {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.contact-inf {
  color: black;
  width: 100%; }
  .contact-inf span {
    font-size: 25px; }

.field-title {
  color: black;
  font-weight: 500; }

footer {
  width: 100%;
  height: 150px;
  background-color: #4c77ee; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.footer-links {
  display: flex;
  width: auto;
  height: 60px; }

p {
  margin-right: 30px;
  color: white; }

.links_call {
  display: flex;
  width: 50px;
  height: 50px;
  font-size: 18px;
  border: none; }
